node_modules
.pnpm-store
.git
.github

.DS_Store
*.log
*.cover
*.tmp

docs

apps/web/dist
apps/web/test
apps/web/e2e
apps/web/test-results
apps/web/playwright-report
apps/web/coverage

apps/server/woottyd
**/*_test.go
